OPENWEBUI_URL=https://domain.tldr/api
OPENWEBUI_API_KEY=

OLLAMA_EMBEDDING_HOST=
#OLLAMA_EMBEDDING_PASSWORD=
#OLLAMA_EMBEDDING_USER=

OLLAMA_HOST=
#OLLAMA_PASSWORD=
#OLLAMA_USER=

OPENAI_ORGANIZATION_ID=
OPENAI_API_KEY=
